.DS_Store
*.log
node_modules
.sass-cache/*
build
*.node
coverage
*.orig
.idea
sandbox
/log/*
/log
/bower
/releases
rakefile
test/out-fixtures/*
test/watch-*.txt
source/bower_components
source/f/css/_sprites.scss
gulpfile-config.json
.externalToolBuilders/*
.tern-project
.project
.settings/*
