footer.app-footer
	.app-footer__top
		.app-footer__top-inner
			.app-footer__list
				.app-footer__list-item
					a.app-footer__list-link(href="#") Профессиональные радиостанции
					br
					a.app-footer__list-link(href="#") Тактические гарнитуры
			.app-footer__list
				.app-footer__list-item
					a.app-footer__list-link(href="#") НЕОКОМ средства радиосвязи
			.app-footer__text
				p Многоканальный телефон/факс:<br />Москва: +7 499 703-07-30<br />e-mail: info@neocommsk.ru 
			.app-footer__text
				p Адрес: 111123 Москва,<br />ул. 1-я Владимирская улица, 10А стр.1 офис 6А
	.app-footer__bottom
		.container
			.row
				.col-xs-12
					.app-footer__bottom-inner &copy;&nbsp;Copyright 2017 <span>НЕОКОМ</span>&nbsp;/ tactical.su
