block page
	-var page = "index";

block header
block footer

extends ../blocks/layout/layout

block content
	.page-content
		h1 Список страниц
		ul.list-unstyled
			li
				a(href="main.html") Главная
			li
				a(href="catalog.html") Каталог
			li
				a(href="product.html") Продукт