.page-content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 12px;
}

.page-container {

    @include clearfix();

    &__content {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }

    &__sidebar {
        width: 310px;
        float: right;
        box-sizing: border-box;
    }

    &__sidebar-list {
        margin-left: -10px;
        @include clearfix();
    }

    &__sidebar-list-item {
        background: url("../images/sidebar-bg.jpg") no-repeat 0 0 transparent;
        width: 150px;
        height: 120px;
        display: table;
        margin-bottom: 10px;
        margin-left: 10px;
        float: left;
    }

    &__sidebar-link {
        width: 100%;
        height: 120px;
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-family: $font-helios-bold;
        text-align: center;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:after {
            content: "";
            background: url("sidebar-active.png#datauri") no-repeat 0 0 transparent;
            background-size: cover;
            width: 38px;
            height: 20px;
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease-in-out;
        }

        &:hover {
            background-color: rgba(#231f20, 0.4);
        }

        &:hover,
        &:focus {
            color: #fff;
            text-decoration: none;
        }
    }

    &__sidebar-list-item.is-active &__sidebar-link:after {
        visibility: visible;
        opacity: 1;
    }
}

.page-container.page-container_sidebar-right {
    .page-container__content {
        width: 700px;
    }
}

.page-container.page-container_news {
    width: 100%;
    display: table;
    table-layout: fixed;

    .page-container__content {
        width: 700px;
        height: 100%;
        border-right: 1px solid #868282;
        border-bottom: 1px solid #868282;
        display: table-cell;
        vertical-align: top;
        float: none;
        position: relative;
        padding-bottom: 60px;
    }

    .page-container__sidebar {
        height: 100%;
        border-left: 1px solid #868282;
        border-bottom: 1px solid #868282;
        display: table-cell;
        vertical-align: top;
        float: none;
        position: relative;
        padding-bottom: 60px;
    }

    .page-container__hr {
        width: 14px;
        height: 100%;
        display: table-cell;
        vertical-align: top;
    }
}

.page-container.page-container_awards {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin-top: 15px;

    .page-container__content {
        width: 700px;
        height: 100%;
        border-right: 1px solid #868282;
        border-bottom: 1px solid #868282;
        display: table-cell;
        vertical-align: top;
        float: none;
        position: relative;
        padding-bottom: 60px;
    }

    .page-container__sidebar {
        height: 100%;
        display: table-cell;
        vertical-align: top;
        float: none;
        position: relative;
        padding-bottom: 60px;
    }

    .page-container__hr {
        width: 14px;
        height: 100%;
        display: table-cell;
        vertical-align: top;
    }
}

.page-container.page-container_break {
    width: 100%;
    height: 92px;
    @include clearfix();
}